<img src="https://i.imgur.com/drrCDV2.png" style="padding-top: 85px;">
<button type="button" class="btn btn-outline-dark" style="margin-left: 289px; margin-top: 84px; padding-left: 54px; padding-right: 52px;"><span><%= link_to 'Star Listning', songs_path %></span></button>
